body {
    background-color: #e3f2ff;
}

.titletext {
    text-align: center;
    font-size: 60px;
    margin: 20px;
    margin-top: 40px;
    background-color: #a9d6ff; 
    color: black;
    padding: 20px 20px; 
    border-radius: 15px;
}

.Form {
    width: 300px; 
    margin: auto; 
    text-align: center;
}

.submit {
    margin: 10px auto; 
    padding: 10px 90px;
    text-align: center; 
    font-size: 18px;
    font-weight: bold;
    border: none;
    background-color: #a9d6ff;
    color: black;
    border-radius: 15px;
    margin-bottom: 200px;
}

.create-account{
    margin: 10px auto; 
    padding: 10px 90px;
    text-align: center; 
    font-size: 18px;
    font-weight: bold;
    border: none;
    background-color: #a9d6ff;
    color: black;
    border-radius: 15px;  
    text-decoration: none;
}

